@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
}
/* Esconde a barra de rolagem no body */
html, body {
  overflow: -moz-scrollbars-none; /* Para Firefox */
  -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
  scrollbar-width: none; /* Para Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Para navegadores baseados em WebKit como Chrome e Safari */
}


a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1; /* Faz o main crescer para ocupar o espaço disponível */
}
img {
  max-width: 100%;
}